/* basic reset */
*{
    box-sizing: border-box;
}

/* main colors and fonts for the website */
:root{
    --primary-color: #3BBA9C;
    --primary-color-ii: #57f1b1;
    --secondary-color: #2E3047;
    --secondary-color-ii: #3C3F58;
    --font-family:  'Exo', sans-serif;
}

/* all the styles start here */

body{
    font-family: var(--font-family);
    overflow-x: hidden;
    font-size: 62.5%;
    line-height: 1.5;
    background-image: linear-gradient(to bottom left, rgba(46, 48, 71, 0.774),rgba(60, 63, 88, 0.582)), url(../images/Bella-Corsa-1-min.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.studios-container{
    width: 100%;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Logo styles */
.logo h1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-weight: black 900;
    font-style: italic;
    color: var(--primary-color);
    font-size: 2rem;
    padding: 2rem 1rem;
}


.menu-wrap{
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5rem;
    z-index: 2;
}

.menu-wrap .toggler{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 5px;
    background-color: rgba(46, 48, 71, 0);
}

/* hamburger line */

.menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height: 1.5px;
    background-color: var(--primary-color-ii);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

/* Top and bottom lines styles */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 1.5px;
    background: inherit;
}

/* Moves line down */
.menu-wrap .hamburger > div:after{
    top: 10px;
}

/* Toggler animate */

.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

/* Turns lines to x */

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/* Show menu */

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition-duration: 0.5s;
    /* background-color: var(--primary-color); */
}

.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}

.menu-wrap .menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: top;
    justify-content: center;

}

.menu-wrap .menu > div{ 
    visibility: hidden;
    position: relative;
    background-image: url(../images/IMG_2480-min.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: none;
    justify-content: center;
    padding: 50px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color-ii);
    opacity: 0.7;
    z-index: -1;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    z-index: 2;

}

.menu-wrap .menu > div > div > ul > li > a {
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -.3rem;
    width: 108%;
    height: 30px;
    padding: .01rem .5rem;
    border-top-right-radius: .5rem;
    background-color: var(--primary-color-ii);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease-in-out;
    z-index: -1;
}

.menu-wrap .menu > div > div > ul > li > a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.menu-wrap .menu > div > div > ul > li > a:hover{
    color: var(--secondary-color);
}

/* studio styles start here */

.projects-section {
    padding: 10rem 0;
    background-color: var(--secondary-color-ii);
  }
  
  .projects-section .featured-text {
    padding: 2rem;
  }
  
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid var(--primary-color);
    }
  }
  
  .projects-section .project-text {
    padding: 3rem;
    font-size: .8rem;
  }

  .projects-section .project-text p{
    color: rgb(226, 226, 226);
  }
  
  @media (min-width: 992px) {
    .projects-section .project-text {
      padding: 5rem;
    }
    .projects-section .project-text hr {
      border-color: var(--primary-color);
      border-width: .25rem;
      width: 30%;
    }
  }

  /* studio heading styles */
  .featured-text h4{
      font-size: 1.5rem;
      color: #fff;
  }

  .featured-text p{
    font-size: 1rem;
    color: rgb(226, 226, 226);
}

  .studio-heading{
      position: absolute;
      top: 50%;
      right: 50%;
      text-align: center;
      transform:translate(50%, -50%)  ;
      -webkit-transform:translate(50%, -50%)  ;
      -moz-transform:translate(50%, -50%)  ;
      -ms-transform:translate(50%, -50%)  ;
      -o-transform:translate(50%, -50%)  ;
}

.studio-heading h3{
    font-size: 2.3rem;
    padding: 10px 0;
    margin: 10px 5px 0px 5px;
    color: var(--primary-color);
    font-weight: 800;
    text-shadow: .8px .8px .8px var(--primary-color-ii);

}

.studio-heading p{
    font-size: 1.5rem;
    color: var(--primary-color-ii);
    padding: 20px 5px 0 5px;
    margin: 20px 0 0 0;
}

.studio-heading .view-studios{
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: var(--primary-color-ii);
    margin: 30px 5px -10px 5px;
    padding: 0 5px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.studio-heading .view-studios:hover{
    background-color: var(--secondary-color);
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

.studio-heading .fa-sort-down{
    display: inline-block;
    padding: 10px 0;
    font-size: 1rem;
    margin: 20px 0;

}

